*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Roboto Slab', serif; */
    font-family: 'Heebo', sans-serif;
}
.container{

}
.container .header{
    /* background-color:aqua ; */
}
.container .header h1{
    text-transform: capitalize;
    text-align: center;
}
.container .search{
    background-color: rgb(106, 33, 33);
    padding: .5rem .5rem;
}
.container .search  #search{
    outline: 0;
    padding: .5rem .5rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.container .search button{
    padding: .5rem .5rem;
    cursor: pointer;
    background-color: rgb(43, 125, 170);
    text-transform: capitalize;
    color: white;
    outline: 0;
    border: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.container .result{
    /* background-color: aquamarine; */
    width: 97.5vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}
.container .result .items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: .1rem;
    background-color:rgb(26, 126, 91) ;
    width: 300px;
    height: 300px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: .2rem .5rem;
}
.container .result .items .img{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow:  0 0 16px 0 rgba(0,0,0,0.9);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.container .result .items .img img{
    width: 100%;
    height: 100%;
}
.container .result .items .item-name {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.container .result .items .item-name p{
    text-transform: capitalize;
    color: white;
    
}
.container .result .items .item-name .recipe-btn{
    text-decoration: none;
    text-transform: capitalize;
    background-color: aliceblue;
    padding: .5rem .5rem;
    color: rgb(255, 255, 255);
    background-color: rgb(106, 33, 33);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    text-align: center;
    opacity: .9;
}
.container .result .items .item-name .recipe-btn:hover{
    opacity: 1;
}
.recipe-details{
    position:fixed;
    top: 0;
    left: 0;
   overflow-y: scroll;
   transform: scale(0);
   width: 100vw;
   height: 100%;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: rgb(23, 88, 67);
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -ms-transform: scale(0);
   -o-transform: scale(0);
   z-index: 99;

}
.recipe-details:target{

    transition: .2s ease;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
 .recipe-details .close{
    text-decoration:none;
    position: absolute;
    top: 5%;
    right: 10%;
    font-size: 1.3rem;
    color: brown;
    background-color: white;
    width: 30px;
    text-align: center;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.recipe-details .recipe-title{
    color: white;
    text-transform: capitalize;
}
.recipe-details .recipe-category{
    text-transform: capitalize;
    /* font-size: 1.5rem; */
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.recipe-details .instruct{
    padding: .5rem 1.5rem;
    background-color: rgb(15, 38, 38);
    margin: 0 auto;
    height: 300px;
    overflow-y: auto;
}
.recipe-details .instruct h1{
    text-transform: capitalize;
    /* font-size: 3rem; */
    color: aliceblue;
}
.recipe-details .instruct p{
    color: white;
    /* text-shadow: 0 0 3px black; */
    letter-spacing: 2px;
    /* font-size: 1.rem; */
}
.recipe-details .recipe-img{
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    box-shadow: 0 0 14px 0 rgba(255, 255, 255, 0.9);
    margin-top: 10px;
}
.recipe-img img{
    width: 100%;
    height: 100%;
}
.recipe-details .recipe-link{
    margin-top: 20px;
}
.recipe-details .recipe-link a{
    text-decoration: none;
    text-transform: capitalize;
    background-color: aliceblue;
    padding: .5rem .5rem;
    color: rgb(17, 141, 125);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    
} 
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    border-radius: 10px;
    cursor: pointer;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: rgb(70, 146, 146);
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: rgb(110, 11, 11);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: aliceblue;
}