*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .3s ease;
}
body{

    background-image:linear-gradient( #fff,rgb(54, 54, 112),rgb(131, 131, 172));
    font-family: "Open sans";
}
section{
background: rgba(0,0,0,0.3);
}
.menu{

    /* margin: 0 auto; */
    /* height: 100vh; */
}
.menu .title{
    color: white;
    text-transform: capitalize;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
}
.section-center{
    display:grid;
    flex-wrap: wrap;
    grid: auto  / auto auto auto auto;
    justify-content: space-around;
    grid-gap: 10px;
    padding: .3em .6em;
}
.menu .section-center .menu-item{
	/* max-width: 50vmin; */
    position: relative;
	/* margin : .3rem; */
    border-radius: 4px;
    overflow: hidden;
}

.menu .section-center .menu-item .img{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: absolute;
    z-index: -1;
}    
.menu .section-center .menu-item .img img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.menu .section-center .menu-item .item-info{
    padding: .3rem .6rem;
    background-color: #20375a73;
    opacity: 0;
}
.menu .section-center .menu-item:hover .item-info{
    opacity: 1;
}
.menu .section-center .menu-item .item-info header h4{
    text-transform: capitalize;
    color: rgb(190, 26, 26);
    color: white;

}
.menu .section-center .menu-item .item-info header h3{
    text-transform: capitalize;
    color: orange;

}
.menu .section-center .menu-item .item-info .item-text{
    /* text-transform: capitalize; */
 	width: 100%;
 	height: 200px;
 	overflow-y: auto;
    padding: .3rem .3rem;
    color: white;
}

.btn-container{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.btn-container button{
    box-shadow:inset 0 0 18px 0px rgba(223, 41, 41, 0.8);
    border:0;
    outline: 0;
    padding: .6rem .6rem;
    margin: 0 .3rem;
    text-transform: capitalize;
    cursor: pointer;
    background-color: brown;
    color: white;
}

@media screen and (max-width: 700px) {
    .section-center{
        grid: auto  / auto auto;
    }
}