*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
nav{
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    padding: 1.2rem 1.5rem;
}
nav .nav-logo{
    /* background-color: aquamarine; */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .nav-logo .logo{
    font-size:2rem ;
    font-weight: bold;
    text-transform: capitalize;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.866);
}
nav .nav-links{
}
nav .nav-links .nav-link{
    text-decoration: none;
    text-transform: capitalize;
    padding: .5rem .5rem;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    

}
.section1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 90vw;
    overflow: hidden;
    margin:0 auto
}
.section1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background-image:linear-gradient( to bottom, rgb(0, 0, 0), rgb(56, 118, 211), gray);
    box-shadow: 0 0 3px 2px rgb(58, 58, 58);
    bottom: 0;
    z-index: 11;
}
.section1 #text{
    position: absolute;
    text-transform: capitalize;
    font-size: 10vw;
    font-family: 'Krona One', sans-serif;
    z-index: 2;
    color: aliceblue;
    text-shadow: 0 2px 0 rgba(0,0,0,0.7);

}
.section1 #text span{
    font-size: 1.5rem;
    letter-spacing: 3px;
    font-weight: 400;
}
.section1 .btn{
    padding: .5rem .5rem;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    text-transform: capitalize;
    background-color: cornflowerblue;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: white;
    transform: translateY(600%);
    -webkit-transform: translateY(600%);
    -moz-transform: translateY(600%);
    -ms-transform: translateY(600%);
    -o-transform: translateY(600%);
    z-index: 100;
}
.section2{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    padding: .5rem .5rem;
}
.section2 h1{
    font-size: 2rem;
    color: white;
    text-align: center;
    text-transform: uppercase;
}
.section2 p{
    font-size: 1.1rem;
    color: rgb(252, 252, 252);
}

.section1 img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.section1 #sky{
    top:0;
    z-index: 0;
}
.section1 #left-mountain{
    left: 10%;
    /*bottom: 25%;
    */z-index: 4;
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}
.section1 #right-mountain{
    right: 5%;
    bottom: 10%;
    z-index: 4;
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}
.section1 #center-mountain{
    z-index: 3;
    top: -15%;
    left: 10%;
    transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
}
.section1 #center-tree{
    z-index: 10;
    top: 40%;
    left: 11%;
    z-index: 2;
    transform: scale(1.2) rotate(-30deg);
    -webkit-transform: scale(1.2) rotate(-30deg);
    -moz-transform: scale(1.2) rotate(-30deg);
    -ms-transform: scale(1.2) rotate(-30deg);
    -o-transform: scale(1.2) rotate(-30deg);
}
.section1  #sky-bottom{
     top: 50%;
    z-index:1;
}
.section1 #birds{
    top: -20%;
    left: 10%;
}
.section1 #single-bird-1{
    left: -20%;
    top: 15%;
    z-index: 2;
}
.section1 #single-bird-2{
    top: 30%;
    left: 0%;
    z-index: 2;
}
.section1 #single-bird-3{
    left: -10%;
    transform: translate(50px, 10px);
    -webkit-transform: translate(50px, 10px);
    -moz-transform: translate(50px, 10px);
    -ms-transform: translate(50px, 10px);
    -o-transform: translate(50px, 10px);
}
.section1 #single-bird-4{
    left: -20%;
    top: -40%;
    z-index: 2;
}
.section1 #single-bird-5{
    top: 50%;
    left: -300%;
    z-index: 2;
}
.section1 #single-bird-6{
    left: -40%;
    z-index: 199;
    transform: translate(50px, 10px);
    -webkit-transform: translate(50px, 10px);
    -moz-transform: translate(50px, 10px);
    -ms-transform: translate(50px, 10px);
    -o-transform: translate(50px, 10px);
}
.section1 #ballon{
    left: -20%;
    top: 20%;
}
.section1 #small-ballon{
    top: -10%;
}