*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.container{
    border: 2px solid rgb(10, 1, 1);
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
}
.container .search-box{
    border: 2px solid rgb(92, 92, 92);
    padding: .9rem .5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.container .search-box label{
    font-size: large;
    color: rgb(9, 59, 59);
    text-transform: capitalize;
}
.container .search-box #search{
    border: 2px solid rgb(112, 112, 112);
    padding: .5rem .5rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.container .search-box button{
    padding: .3rem .3rem;
    color: white;
    background-color: blueviolet ;
}
.container .add-note{
    border: 2px solid gray;
    padding: .3rem .5rem;
}
.container .add-note label{
    margin:  0 auto;
    text-transform: capitalize;
    width: 100%;
    font-size: 30px;
    text-align: center;
}
.container .add-note #addTitle{
    width: 60%;
    padding: .6rem .3rem;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.container .add-note textarea{
    width: 100%;
    resize: none;
    height: 200px;
    padding: .5rem .3rem;
    font-size: large;
    color: gray;
    background-color: black;
}
.container .add-note button{
    padding: .3rem .3rem;
    transition: .1s ease;
    background-color: rgb(13, 81, 118);
    color: white;
    padding: .3rem .3rem;
    outline: 0;
    border: 0;
    cursor: pointer;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    box-shadow: 0px 2px 0px 0px rgb(13, 73, 106);
    -webkit-transition: .1s ease;
    -moz-transition: .1s ease;
    -ms-transition: .1s ease;
    -o-transition: .1s ease;
    text-transform: capitalize;
}
.container .add-note button:active{
    box-shadow: none;
    transform: translateY(2px);
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -o-transform: translateY(2px);
}
.container .added-note{
    border: 2px solid gray;
    display: flex;
    flex-wrap: wrap;
}
.container .added-note .content-box{
    width: 300px;
    border: 2px solid gray;
    margin: 10px auto;
    padding: .5rem .5rem;
}
.container .added-note .content-box h1{
    text-align: left;
}
.container .added-note .content-box p{
    text-align: center;   
}
.container .added-note .content-box p::first-letter{
    text-transform: capitalize;
}
.container .added-note .content-box button{
    transition: .1s ease;
    background-color: rgb(13, 81, 118);
    color: white;
    padding: .3rem .3rem;
    outline: 0;
    border: 0;
    cursor: pointer;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    box-shadow: 0px 4px 0px 0px rgb(13, 73, 106);
    -webkit-transition: .1s ease;
    -moz-transition: .1s ease;
    -ms-transition: .1s ease;
    -o-transition: .1s ease;
    text-transform: capitalize;
}

.container .added-note .content-box button:active{
    box-shadow: none;
    transform: translateY(2px);
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -o-transform: translateY(2px);
}