* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    background-color: rgb(242, 239, 236);
}
.container {
    padding: .3rem .6rem;
}

.container .search-box {
    width: 80%;
    margin: 0 auto;
}

.container .search-box label {
    font-size: large;
    text-transform: capitalize;
}

.container .search-box #search {
    border: none;
    padding: .5rem .5rem;
    border-radius: 1px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.container .search-box #search:focus {
}

.container .search-box button {
    padding: .3rem .3rem;
}

.container .add-note {
    padding: .3rem .5rem;
    /* background-color: rgba(20, 66, 68, 0.783); */
    max-width: 400px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.438);
    border-radius: .4rem;
    margin:  .6em auto;
}

.container .add-note label {
    margin: .3em auto;
    text-transform: capitalize;
    width: 100%;
    /* font-size: 30px; */
    color: aliceblue;
    text-align: center;
}
.container .add-note::after{
    content: "";
    display: table;
    clear: both;
}
.container .add-note  .input-control {

    padding: .6rem .3rem;
    border: none;
    outline: none;
    background-color: inherit;
    width: 100%;
    border-bottom: 1px solid black;
}

.container .add-note #addTitle:focus {
    /* box-shadow: inset 0 0 4px 2px rgba(111, 111, 111, 0.7); */
}

.container .add-note textarea {
    resize: none;
    height: 100px;
    /* width: 100%;
    padding: .5rem .3rem;
    font-size: large;
    color: gray;
    background-color: rgb(215, 208, 208);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px; */
}

.container .add-note button {
    transition: .1s ease;
    background-color: rgb(250, 141, 17);
    color: white;
    width: 30px;
    height: 30px;
    outline: 0;
    border: 0;
    cursor: pointer;
    border-radius: 50%;
    float: right;

}

.container .add-note button:active {
    box-shadow: none;

}
.container .display{
    /* box-shadow: 0 0 2px 0 rgba(0,0,0,0.7); */
}
.container .display .header h1 {
    text-align: center;
    /* font-size: 3rem; */
    text-transform: capitalize;
}

.container .added-note {
    /* border: 2px solid gray; */
    display: flex;
    padding: .5rem .5rem;
    transition: .2s linear;
    flex-direction: column;
    height: 50vh;
    overflow-y: auto;
}

.container .added-note .content-box {
    /* width: 24.5%; */
    /* height: 300px; */
    display: flex;
    flex-direction: column;
    box-shadow:0 0 1px 1px rgba(0,0,0,0.7);
    margin: .5em 0;
    /* margin: .3rem auto; */
    
    /* padding: 0 .2rem .3rem .2rem; */
    word-wrap: break-word;
    border-radius: .4rem;
    transition: all .2s ease;
}

.container .added-note .content-box:hover{
    box-shadow:  0 5px 10px rgba(0,0,0,0.7);
    
}
.container .added-note .content-box h1 {
    /* text-align: left; */
    font-size: 17px;
    text-transform: capitalize;
    background-color: rgba(1, 77, 143, 0.686);
    padding: .6rem;
    border-radius: .3rem;
}
.container .added-note .content-box h1 .delete-btn{
    float: right;
    color: white;
    background-color: rgb(148, 0, 0);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center  ;
    line-height: 30px;
    cursor: pointer;
}
.container .added-note .content-box p {
    
    overflow-y: auto;
    padding: .3rem;
    text-indent: 30px;
    margin: .3rem 0;
    font-size: 14px;
}

.container .added-note .content-box p::first-letter {
    text-transform: capitalize;
}

.container .added-note .content-box button {
    width: 40%;
    margin-top: auto;
    transition: .1s ease;
    background-color: rgb(130, 0, 0);
    color: white;
    padding: .6rem .3rem;
    outline: 0;
    border: 0;
    cursor: pointer;
    border-radius: 5%;
    box-shadow: 0px 4px 0px 0px rgb(70, 2, 2);
    float: right;

}

.container .added-note .content-box button:active {
    box-shadow: none;
    transform: translateY(2px);
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -o-transform: translateY(2px);
}