*{
margin: 0;
padding: 0;
}
nav{
    display: flex;
        justify-content: center;
        flex-direction: column;
}
header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: aqua;
}
nav header .toggle-menu{
    display: none;
}
.nav-links{
    background-color: aqua;
    display: flex;
    justify-content: center;
}
.nav-link{
    padding: 10px 12px;
}