*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: cursive;
   
}
.main-container{

padding: .3rem .5rem;   

}
.main-container .custom-add{
    background-color: rgb(5, 92, 92);
    padding: .5rem .5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.main-container .custom-add button{
    outline: 0;
    border: 0;
    padding : 5px 12px;
    text-transform: capitalize;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.main-container .custom-add label{
    color: aliceblue;
}
.main-container .custom-add  input[type=text]{
    padding: .3rem .3rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.tasks{
    width: 100%;
    display: flex;
}
.tasks .column{
    width: 49.99%;
    background-color: rgb(71, 114, 101);
  
}
.tasks .column h1{
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: capitalize;
}
.tasks .column .to-do{
    padding: .5rem;
    background-color: rgba(105, 37, 37, 0.282);
    height: 100vh;
    overflow:scroll ;
}
.tasks .column .to-do p{
    cursor: move;
}
.tasks .column .to-do p, .tasks .column .done p {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1.1rem;
    text-transform:  capitalize;
    padding: .5rem .5rem;
    margin: .5rem;
}
.tasks .column .done{
    background-color: rgba(49, 134, 106, 0.371);
    padding: .5rem;
    height: 100vh;
}
.done .column-in{
    background-color: green;
}
.filter{
    text-transform: capitalize;
    color: white;
    overflow: scroll;
    height: 100vh;
} 

.column-in{
    width: 100%;
    padding: 10px 20px;
    background-color: rgba(26, 119, 122, 0.576);
    margin: 4px auto;
    cursor: move;
}
.column-in button{
    padding: .5rem .6rem;
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    cursor: pointer;
}
.alert-message{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.alert-message .alert-success{
    transition: .2s ease;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
    background-color: green;
    color: white;
}
.alert-message .alert-warning{
    background-color: red;
    color: white;
    transition: .2s ease;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
}