* {box-sizing: border-box;}

.img-zoom-container {
  position: relative;
}
.image{
  width: 35%;
  border: 2px solid gray;
}
.img-zoom-lens {
  position: absolute;
  border: 1px solid #8e5e5e;
  /*set the size of the lens:*/
  width: 50px;
  height: 50px;
}

.img-zoom-result {
  border: 1px solid #291212;
  /*set the size of the result div:*/
  width: 800px;
  height: 800px;
}