* {box-sizing: border-box;}

.img-zoom-container {
  position: relative;
  display: flex;
  /* justify-content: space-evenly; */
}
.image{
  width: 600px;
  height: 500px;
  border: 2px solid gray;
}
.image img{
  width: 100%;
  height: 100%;
  /* object-fit: ; */
}
.img-zoom-lens {
  position: absolute;
  border: 1px solid #8e5e5e;
  /*set the size of the lens:*/
  width: 200px;
  height: 200px;
}

.img-zoom-result {
  border: 1px solid #291212;
  /*set the size of the result div:*/
  width: 500px;
  height: 500px;
  margin: 0 .6rem;

}