body{
    font-family: 'Courier New', Courier, monospace;
}
.calculator{
    margin:  auto auto;
    width: 300px;
    background-color: rgb(12, 80, 90);
    box-shadow: inset 0 0 2px 3px rgba(86, 8, 8, 0.4);
    padding: 20px 5px;
    border-radius: 10px;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}
.calculator h1{
    text-align: center;
    text-transform: capitalize;
    color: rgb(214, 214, 214);
}
button{
    margin: 2px;
    width: 70px;
    height: 50px;
    padding: 12px 16px;
    text-align: center;
    background-color: rgb(255, 254, 254);
    color: rgb(0, 0, 0);
    border-radius: 4px;
    outline: 0;
    border: 0;
    font-size: 1.3rem;
    box-shadow: 0 2px 3px 0px rgb(14, 5, 5);
    cursor: pointer;
}
button:active{
    box-shadow: inset 0 0px 5px 2px rgb(116, 115, 115);
}
.output{
    overflow: hidden;
    text-align: right;
    line-height: 15px;
    margin: 0 auto;
    width: 250px;
    height: 10px;
    border: 2px solid rgb(224, 213, 213);
    padding: 1.1rem 1.1rem;
    /* padding-right: 1rem; */
    background-color: rgb(255, 255, 255);
    color: rgb(31, 1, 1);
    border-radius: 4px;
    font-size: 1.4rem;
    box-shadow: inset 0 0 3px 2px rgba(0,0,0,0.8);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.keys{
    display: flex;
    justify-content: center;
    margin-top: 1.4rem;
}
.clear{
    width: 50%;
    background-color: rgb(176, 148, 99);
}
.column{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    
}
.calculate{
    margin-top: 3.5rem;
    margin-left: -4.4rem;
    height: 58.5%;
    background-color: antiquewhite;
}

.is-depressed{
    background-color: rgb(81, 140, 120);
    color: white;
}