*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: white; */
}
body{
	/* background-color:#7D947A ; */
	font-family: arial,helvetica;
	/* color: whites; */
}
select{
    padding: .4rem .5rem;
    cursor: pointer;
}

.input-control{

    padding: .3rem .4rem;
}
.main-container{
    background-color: #2B7A5E;
    box-shadow:   0 0 3px 0 rgba(0,0,0,0.7);
    padding: 1rem .5rem;
}
.main-container nav{
    display: flex;
    justify-content: space-between;
}
.container h1{
    text-align: center;
    /* color: #13543B; */
    text-transform: capitalize;
    text-decoration: underline;
}
.container form{
    min-width: 50rem;
    margin: 0 auto;
   
}
.container form .column{
 	display: flex;
 	align-items: center;
 	justify-content: center;
    margin: .5rem .5rem;
  
}
/* .container form  .row .column{
    display: flex;
    
   
    margin: 0 auto;
   
} */
.container form .column label{
	width: 14vmin;
   /* color: rgba(10, 63, 163, 0.712); */
}
.container form .column label:before{
	content: "";
	width: 40px;
	height: 40px;
	transform: rotate(45deg);
	/* background-color: #03386a; */
}
.container form .column .input-control,
.container form .column select{
	width: 80%;
    background-color: inherit;
    padding: .4rem .5rem;
    cursor: pointer;
}
.container form .column select{
	/* background-color: #064a72; */
	/* color: rgb(211, 203, 203); */
}
.container form .column select option{
    cursor: pointer;
    /* color: white; */
    /* background-color:#065fa8; */
}
.container form button{
    transition: .05s ease-in-out;
    outline: 0;
    border: 0;
    padding: .5rem .5rem;
    /* background-color: rgb(75, 18, 129);
    background-color: #482AAB; */
    /* color: white; */
    text-transform: capitalize;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    /* box-shadow: 0 4px 0 0 rgba(25, 2, 31); */
    -webkit-transition: .05s ease-in-out;
    -moz-transition: .05s ease-in-out;
    -ms-transition: .05s ease-in-out;
    -o-transition: .05s ease-in-out;
    cursor: pointer;
    float: right;
    margin-right: .3rem;
}
.container form:after{
	display: table;
	content:"";
	clear: both;
}
.container form button:active{
    box-shadow: none;
    transform: translateY(4px);
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
}

.container #table table {
   
    margin: 0 auto;
    /* border: 2px solid #044A2F; */
    border-collapse: collapse;
}
.container #table table thead tr th{
    border: 2px solid #060707;
    padding: .5rem .5rem;
    text-transform: capitalize;
    /* color: #044A2F; */
}
.container #table table tbody tr td{
    border: 2px solid #727272;
    padding: .5rem .5rem;
    text-transform: capitalize;
}
.container #table table tbody tr td:nth-child(odd){
	/* background-color: #285F39; */
}
.container #alert-message{
transition: all 2s ease;
}
.container #alert-message p.alert-success,
.container #alert-message p.alert-error{
    	position: absolute;
	width: 200px;
	height: 200px;
	line-height: 200px;
	text-align: center;
	border-radius: 5%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color:#880717;
    color: white;
}
.container #alert-message p.alert-success{
	color: white;
	background-color:#2B7A5E;
}