:root{
    --B_color: rgb(5, 83, 66);
}
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
body{
    background-color: black;
    color: white;
}

.stopwatch-container{
    position: relative;
    background-color: aliceblue;
    width: 200px;
    margin: 0 auto;
    padding: .5rem .3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border-radius: 70px;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    -ms-border-radius: 70px;
    -o-border-radius: 70px;
}
.stopwatch{
    background-color: var(--B_color);
    padding: .5rem .5rem;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    margin: 0.5rem;
    box-shadow: 0 0 2px 4px rgba(0,0,0,0.8);
    /* cursor: pointer; */
}
.stopwatch::before, .stopwatch::after{
    position: absolute;
    content:"";
    width: 50px;
    height: 50px;
    border-top: 4px solid var(--B_color);
    border-bottom: 4px solid var(--B_color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.stopwatch::before
{
    border-left: 4px solid var(--B_color);
    left: -5%;
    top: 25%;
} .stopwatch::after{
    right: -5%;
    border-right: 4px solid var(--B_color);
    top: 25%;
}
.stopwatch p{
    text-align: center;
    font-size: 2rem;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons button{
    padding: .5rem .5rem;
    margin:0 .5rem;
    outline: 0;
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    cursor: pointer;
    background-color:var(--B_color);
    color: white;
}
.buttons button:hover{
background-color: gray;
color: white;
}