*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Open"sans-serif, serif;
}
.container{
    position: relative;
    width: 100%;
    height: 100vh;
background: #4D8798;
border: 1px solid gray;
}
.column{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 1.2rem .5rem;
    width: 270px;
    margin: auto auto;
    background-image:linear-gradient(rgb(175, 194, 191),#67B28F,#4D8798);
    /*display: flex;
    flex-direction: column;
    justify-content: ;
    align-items: center;*/
    box-shadow:inset 0 0 100px 0px #4D8798;
}
.column h1{
    text-align: center;
    color: rgba(37, 77, 133, 0.79);
    text-transform: capitalize;
}
.column #image{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
}
.column #image img{
    width: 100%;
}
.column ul{
   list-style-type: none;
 
}
.column ul li{
   
    padding: .3rem 1rem;
    text-transform: capitalize;
    color: #fec;
    /*color:rgba(37, 77, 133, 1);*/
}
.column ul li span{
    color: #095E6F;
    font-weight: bold;
    margin-right: 5px;
    text-align: center;
}
.container .column button{
    border: none;
    outline: 0;
    width: 30%;
    padding: .5rem 1rem;
    opacity: .7;
    float: right;
    color: white;
    background-color:rgba(37, 77, 133, 0.29);
    text-transform: capitalize;
    cursor:  pointer;
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0,0.2);
    transition: .1s ease;
    -webkit-transition: .1s ease;
    -moz-transition: .1s ease;
    -ms-transition: .1s ease;
    -o-transition: .1s ease;
}
.container .column button:hover{
    opacity: .8;
   
}
.container .column button:active{
   opacity: 1;
    transform: translateY(2px);
    box-shadow: inset 0 0 12px 0 rgba(0,0,0,0.2);
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -o-transform: translateY(2px);
}