*{
    margin: 0;
    padding: 0;
}
#main-ul{
    overflow: hidden;
}
ul{
    width: 300px;
    list-style: none;
    background-color: rgb(63, 9, 9);
    color: white;
    margin: 0 auto;
    user-select: none;
}
li{
 
    margin-top: .1rem;
}
ul li ul li  {
    background-color: rgb(4, 60, 61);
}
::selection{
    background-color: none;
}
ul li ul li ul{
    /* background-color: rgb(9, 87, 110); */
}
ul li{
    padding: .8rem .8rem;
}
ul li ul li ul li.nested-menu-inner  {
    background-color: rgb(3, 58, 58);
}
ul li ul li ul li.nested-menu-inner {
    background-color: teal;
}
ul li ul li ul li ul.nested  {
    /* background-color: rgb(7, 87, 36); */
}
ul li ul li ul li ul li{
    background-color: rgb(5, 58, 41);
}
.toggle{

    display: none;
}
label{
display: flex;
align-items: center;
cursor: pointer;
}
.nested{
    display: none;
    /* text-align: center; */
}

.nested-menu-inner{
    background-color: rgb(9, 94, 65);
}
.toggle:checked  ~ .nested{
    display: block;
}
.toggle:checked ~   label .icon  {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}

