*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Courier New', Courier, monospace;
}
#main-ul{
    overflow: hidden;
    border-radius: 10px;
    width: 360px;
    padding: 1rem 1rem;
    
    margin: 0 auto;
}
ul{
    list-style: none;
    background-color: rgb(216, 216, 216);
    color: rgb(12, 50, 61);
    user-select: none;
  
  
}
li{
    text-transform: capitalize;
    margin: .5rem 0;
    border-radius: 14px;
    font-size: large;
    transition: .2s ease-in-out;
    box-shadow: inset 0 0 3px 0 gray;
    border-bottom: 2px solid black;
    
}
li:hover{
    cursor: move;
    /* background-color: rgb(121, 137, 145); */
    color: rgb(12, 73, 75);
}
ul li ul{
   /* box-shadow: 3px 1px 4px 1px rgba(0, 0, 0, 0.5); */
    /* border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px; */
    margin: 1rem 0;
    padding: 0 .54rem;
    /* border: 2px dashed rgb(17, 143, 130); */
    border-bottom: 2px solid gray;
    border-top: 2px solid  gray;
    background-color: seashell;
    
}
ul li ul:hover{
    border-top: 2px solid rgb(12, 10, 10) ;
    border-bottom: 2px solid  rgb(28, 19, 19);
}
ul li ul li  {
    /* background-color: rgb(102, 106, 106); */
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
::selection{
    background-color: none;
}
ul li{
    padding: .8rem .8rem;
}

.toggle{

    display: none;
    transition: all .3s ease;
}
label{
 display: flex;
position: relative;
align-items: center;
justify-content: space-between; 
cursor: pointer;

}
/* label span{
    position: absolute;
}
label span:first-child{
    left: 0;
}
label span:last-child{
    right: 10%;
} */

.nested{
    display: none;
    width: 100%;
    /* transform: scale(0); */
    /* margin: auto auto; */
    /* text-align: center; */
    /* transition: .3s ease-in-out; */
}


.nested-menu-inner{
    /* background-color: rgb(9, 94, 65); */
}

.toggle:checked  ~ .nested{
    display: block;
    /* transform: scale(1); */
}
.toggle:checked ~   label .icon  {
   
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.icon{
    transition: .1s ease-in-out;
}
