*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
    font-family: sans-serif;
}
#main-ul{
    overflow: hidden;
    border-radius: 10px;
    width: 260px;


    
}
ul{
   
    list-style: none;
    background-color: rgb(216, 216, 216);
    color: rgb(12, 50, 61);
    color: rgb(113, 115, 119);
    margin: 0 auto;
    user-select: none;
    display: flex;
    flex-direction: column;
  
  
}
li{
    text-transform: capitalize;
    /* margin-top: .5rem; */
    border-radius: 14px;
    font-size: large;
    transition: .2s ease-in-out;
    /* position: relative; */
  
  
}

li:hover{
    /* background-color: rgb(121, 137, 145); */
    color: rgb(0, 0, 0);
}
ul li ul{
   /* box-shadow: 3px 1px 4px 1px rgba(0, 0, 0, 0.5); */
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    border: 1px dotted rgb(15, 26, 25);
    border-bottom: 2px solid gray;
    border-top: 2px solid  gray;
    background-color: seashell;
}

ul li ul:hover{
    border: 1px solid black;
    border-top: 2px solid rgb(12, 10, 10) ;
    border-bottom: 2px solid  rgb(28, 19, 19);
}
ul li ul li  {
    /* background-color: rgb(102, 106, 106); */
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: block;
}
::selection{
    /* background-color: none; */
}
ul li{
    padding: .8rem .8rem;
}
ul li ul li ul li.nested-menu-inner  {
    /* background-color: rgb(184, 181, 181); */

}

ul li ul li ul li ul.nested  {
    /* background-color: rgb(19, 153, 68); */
}
ul li ul li ul li ul li{
    /* background-color: rgb(236, 231, 231); */
    
   
}
.toggle{

    display: none;
    transition: all .3s ease;
}
label{
display: flex;
width: 100%;
align-items: center;
justify-content: space-between;
cursor: move;
z-index: 1;

}
label span{
    /* position: absolute; */
    z-index: 99;
}
label span:first-child{
    /* left: 0; */
}
label span:last-child{
    /* right: 10%; */
    z-index: 2;
}

.nested{
    display: none;
    width: 100%;
    /* transform: scale(0); */
    /* margin: auto auto; */
    /* text-align: center; */
    /* transition: .3s ease-in-out; */
}


.nested-menu-inner{
    /* background-color: rgb(9, 94, 65); */
}

.toggle:checked  ~ .nested{
    display: block;
    /* transform: scale(1); */
}
.toggle:checked ~   label .icon  {
   
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.icon{
    transition: .1s ease-in-out;
}
