*{
    transition: all .3s ease;
    font-family: sans-serif;
}
body{
    background-color: rgba(211, 211, 211, 0.884);
}
.questions{
    background: rgba(255, 255, 255, 0.933);
    max-width: 600px;
    margin: 0 auto;
}
.title h1{
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
}
.questions .section-center{
    
}
.questions .section-center .question{
    border-bottom: 2px solid gray;
}
.questions .section-center .question  .question-title{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    user-select: none;
    cursor: pointer;
    text-transform: capitalize;
}
.questions .section-center .question  .question-title button{
    outline: 0;
    border: 0;
    background: transparent;
    font-size: 1.5rem;
    cursor: pointer;
    transform: rotate(90deg);
}

.questions .section-center .question  .question-title button:hover {
   /* color: rgb(14, 97, 192); */
}

.question-text{
    height: 0;
    transition: height .2s ease ;
    color: rgb(0, 0, 0);
    overflow: hidden;
    padding: 0 .6rem;
}
.show-text .question-text{
    height: 200px;
    overflow-y: auto;
}

.question.show-text .question-title{
    background-color: rgb(193, 194, 194);
}


.plus-icon{

    transform: rotate(45deg);
}
.show-text .plus-icon{
   
}